# Plotting and Programming in Python

## Running and Quitting

Some examples of Text

* Use asterisks
* to create
* bulleted lists.

1. Use numbers
2. to create
3. numbered lists.

* Use indents
    * To create sublists
    * of same type
* Or sublists
    1. Of different
    1. Types

Line breaks
don't matter.

But blank lines create new paragrpahs. 

[Create links](http://software-carpentry.org) with `[...](...)`.
Or use [named links][data_carpentry].

[data_carpentry]: http://datacarpentry.org

(click on this cell to view)

In [2]:
# Note: PYthon returns output of last calculation
7 * 3
5 ** 3
2 + 1  # only value returned

3

## Variables and Assignment

In [3]:
age = 19
first_name = 'Chaz'
print(first_name, 'is', age, 'years old.')

Chaz is 19 years old.

## Data Types and Type Conversion

In [5]:
# type() function
print(type(44))
print(type(3.14159))
word = 'average'
print(type(word))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# + and * operators on Strings
full_name = 'Chaz' + ' ' + 'Bethel-Brescia'
print(full_name)
print('x' * 10)

Chaz Bethel-Brescia
xxxxxxxxxx

In [11]:
# Strings have length but numbers don't
print(len(full_name))

19

In [12]:
# Notes:
# Must convert numbers to strings or vice verse when operating on them
# // operator performs integer divison
# / operator performs floating point division
# % operator (modulo) returns remainder from int division
print('5 // 3:', 5//3)
print('5 / 3:', 5/3)
print('5 % 3:', 5%3)

5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 2

In [9]:
print(int(3.4))
print(1.0 + 2)
first = 1.0
second = "1.1"
# Need 2 conversions to turn a String to a float
print(first + int(float(second)))

3
3.0
2.0

In [10]:
# Complex numbers:
complex = 6 + 2j
print(complex.real)
print(complex.imag)

6.0
2.0

## Built-in Functions and Help

In [7]:
print('before')
print()  # prints newline
print('after')

before

after

In [11]:
# max() and min() can compare numbers or characters/strings
print(max(1, 2, 3))
print(min('a', 'A', '0'))

3
0

In [15]:
# round() rounds off a floating point number
round(3.172)

3

In [14]:
round(3.172, 2)  # can give number of decimal places to round to

3.17

In [16]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## Libraries

In [17]:
import math

print('pi is', math.pi)
print('cos(pi) is', math.cos(math.pi))

pi is 3.141592653589793
cos(pi) is -1.0

In [18]:
# import specific items
from math import cos, pi

print('cos(pi) is', cos(pi))

cos(pi) is -1.0

In [34]:
# Ex: DNA analysis
from random import randrange, sample

bases = 'ACTTGCTTGAC'
random_index = randrange(len(bases))
print(bases[random_index])
print(sample(bases, 5)[0:])  # Returns a list of values that can be indexed

T
['G', 'T', 'C', 'C', 'A']

## Reading Tabular Data into DataFrames

In [40]:
import pandas as pd

df = pd.read_csv('Plotting Tutorial/gapminder_gdp_oceania.csv')
print(df)
# (GDP per capita over 5-year intervals)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [42]:
# use index_col to specify that columns values should be row headings
df = pd.read_csv('Plotting Tutorial/gapminder_gdp_oceania.csv', index_col='country')
print(df)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

In [43]:
# DataFrame.info() function provides info about DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [44]:
# DataFrame.columns variable stores info about df's columns
print(df.columns)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [45]:
# DataFrame.T transposes
print(df.T)

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [46]:
# DataFrame.describe() gets summary stats
print(df.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count        2.000000        2.000000        2.000000        2.000000
mean     10298.085650    11598.522455    12696.452430    14495.021790
std        365.560078      917.644806      677.727301       43.986086
min      10039.595640    10949.649590    12217.226860    14463.918930
25%      10168.840645    11274.086022    12456.839645    14479.470360
50%      10298.085650    11598.522455    12696.452430    14495.021790
75%      10427.330655    11922.958888    12936.065215    14510.573220
max      10556.575660    12247.395320    13175.678000    14526.124650

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count         2.00000        2.000000        2.000000        2.000000
mean      16417.33338    17283.957605    18554.709840    20448.040160
std         525.09198     1485.263517     1304.328377     2037.668013
min       16046.03728    16233.717700    17632.410400    19007.191290
25%       16231.68533    16758.837652    18093.560120    19727.615725
50%       16417.33338    17283.957605    18554.709840    20448.040160
75%       16602.98143    17809.077557    19015.859560    21168.464595
max       16788.62948    18334.197510    19477.009280    21888.889030

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000        2.000000        2.000000
mean     20894.045885    24024.175170    26938.778040    29810.188275
std       3578.979883     4205.533703     5301.853680     6540.991104
min      18363.324940    21050.413770    23189.801350    25185.009110
25%      19628.685413    22537.294470    25064.289695    27497.598692
50%      20894.045885    24024.175170    26938.778040    29810.188275
75%      22159.406358    25511.055870    28813.266385    32122.777857
max      23424.766830    26997.936570    30687.754730    34435.367440

In [51]:
# Another Example 
americas = pd.read_csv('Plotting Tutorial/gapminder_gdp_americas.csv',
                       index_col='country')
print(americas)
print(americas.describe())

                    continent  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Argentina            Americas     5911.315053     6856.856212     7133.166023
Bolivia              Americas     2677.326347     2127.686326     2180.972546
Brazil               Americas     2108.944355     2487.365989     3336.585802
Canada               Americas    11367.161120    12489.950060    13462.485550
Chile                Americas     3939.978789     4315.622723     4519.094331
Colombia             Americas     2144.115096     2323.805581     2492.351109
Costa Rica           Americas     2627.009471     2990.010802     3460.937025
Cuba                 Americas     5586.538780     6092.174359     5180.755910
Dominican Republic   Americas     1397.717137     1544.402995     1662.137359
Ecuador              Americas     3522.110717     3780.546651     4086.114078
El Salvador          Americas     3048.302900     3421.523218     3776.803627
Guatemala            Americas     2428.237769     2617.155967     2750.364446
Haiti                Americas     1840.366939     1726.887882     1796.589032
Honduras             Americas     2194.926204     2220.487682     2291.156835
Jamaica              Americas     2898.530881     4756.525781     5246.107524
Mexico               Americas     3478.125529     4131.546641     4581.609385
Nicaragua            Americas     3112.363948     3457.415947     3634.364406
Panama               Americas     2480.380334     2961.800905     3536.540301
Paraguay             Americas     1952.308701     2046.154706     2148.027146
Peru                 Americas     3758.523437     4245.256698     4957.037982
Puerto Rico          Americas     3081.959785     3907.156189     5108.344630
Trinidad and Tobago  Americas     3023.271928     4100.393400     4997.523971
United States        Americas    13990.482080    14847.127120    16173.145860
Uruguay              Americas     5716.766744     6150.772969     5603.357717
Venezuela            Americas     7689.799761     9802.466526     8422.974165

                     gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
country
Argentina               8052.953021     9443.038526    10079.026740
Bolivia                 2586.886053     2980.331339     3548.097832
Brazil                  3429.864357     4985.711467     6660.118654
Canada                 16076.588030    18970.570860    22090.883060
Chile                   5106.654313     5494.024437     4756.763836
Colombia                2678.729839     3264.660041     3815.807870
Costa Rica              4161.727834     5118.146939     5926.876967
Cuba                    5690.268015     5305.445256     6380.494966
Dominican Republic      1653.723003     2189.874499     2681.988900
Ecuador                 4579.074215     5280.994710     6679.623260
El Salvador             4358.595393     4520.246008     5138.922374
Guatemala               3242.531147     4031.408271     4879.992748
Haiti                   1452.057666     1654.456946     1874.298931
Honduras                2538.269358     2529.842345     3203.208066
Jamaica                 6124.703451     7433.889293     6650.195573
Mexico                  5754.733883     6809.406690     7674.929108
Nicaragua               4643.393534     4688.593267     5486.371089
Panama                  4421.009084     5364.249663     5351.912144
Paraguay                2299.376311     2523.337977     3248.373311
Peru                    5788.093330     5937.827283     6281.290855
Puerto Rico             6929.277714     9123.041742     9770.524921
Trinidad and Tobago     5621.368472     6619.551419     7899.554209
United States          19530.365570    21806.035940    24072.632130
Uruguay                 5444.619620     5703.408898     6504.339663
Venezuela               9541.474188    10505.259660    13143.950950

                     gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  \
country
Argentina               8997.897412     9139.671389     9308.418710
Bolivia                 3156.510452     2753.691490     2961.699694
Brazil                  7030.835878     7807.095818     6950.283021
Canada                 22898.792140    26626.515030    26342.884260
Chile                   5095.665738     5547.063754     7596.125964
Colombia                4397.575659     4903.219100     5444.648617
Costa Rica              5262.734751     5629.915318     6160.416317
Cuba                    7316.918107     7532.924763     5592.843963
Dominican Republic      2861.092386     2899.842175     3044.214214
Ecuador                 7213.791267     6481.776993     7103.702595
El Salvador             4098.344175     4140.442097     4444.231700
Guatemala               4820.494790     4246.485974     4439.450840
Haiti                   2011.159549     1823.015995     1456.309517
Honduras                3121.760794     3023.096699     3081.694603
Jamaica                 6068.051350     6351.237495     7404.923685
Mexico                  9611.147541     8688.156003     9472.384295
Nicaragua               3470.338156     2955.984375     2170.151724
Panama                  7009.601598     7034.779161     6618.743050
Paraguay                4258.503604     3998.875695     4196.411078
Peru                    6434.501797     6360.943444     4446.380924
Puerto Rico            10330.989150    12281.341910    14641.587110
Trinidad and Tobago     9119.528607     7388.597823     7370.990932
United States          25009.559140    29884.350410    32003.932240
Uruguay                 6920.223051     7452.398969     8137.004775
Venezuela              11152.410110     9883.584648    10733.926310

                     gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Argentina              10967.281950     8797.640716    12779.379640
Bolivia                 3326.143191     3413.262690     3822.137084
Brazil                  7957.980824     8131.212843     9065.800825
Canada                 28954.925890    33328.965070    36319.235010
Chile                  10118.053180    10778.783850    13171.638850
Colombia                6117.361746     5755.259962     7006.580419
Costa Rica              6677.045314     7723.447195     9645.061420
Cuba                    5431.990415     6340.646683     8948.102923
Dominican Republic      3614.101285     4563.808154     6025.374752
Ecuador                 7429.455877     5773.044512     6873.262326
El Salvador             5154.825496     5351.568666     5728.353514
Guatemala               4684.313807     4858.347495     5186.050003
Haiti                   1341.726931     1270.364932     1201.637154
Honduras                3160.454906     3099.728660     3548.330846
Jamaica                 7121.924704     6994.774861     7320.880262
Mexico                  9767.297530    10742.440530    11977.574960
Nicaragua               2253.023004     2474.548819     2749.320965
Panama                  7113.692252     7356.031934     9809.185636
Paraguay                4247.400261     3783.674243     4172.838464
Peru                    5838.347657     5909.020073     7408.905561
Puerto Rico            16999.433300    18855.606180    19328.709010
Trinidad and Tobago     8792.573126    11460.600230    18008.509240
United States          35767.433030    39097.099550    42951.653090
Uruguay                 9230.240708     7727.002004    10611.462990
Venezuela              10165.495180     8605.047831    11415.805690
       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count       25.000000       25.000000       25.000000       25.000000
mean      4079.062552     4616.043733     4901.541870     5668.253496
std       3001.727522     3312.381083     3421.740569     4160.885560
min       1397.717137     1544.402995     1662.137359     1452.057666
25%       2428.237769     2487.365989     2750.364446     3242.531147
50%       3048.302900     3780.546651     4086.114078     4643.393534
75%       3939.978789     4756.525781     5180.755910     5788.093330
max      13990.482080    14847.127120    16173.145860    19530.365570

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count       25.000000       25.000000       25.000000       25.000000
mean      6491.334139     7352.007126     7506.737088     7793.400261
std       4754.404329     5355.602518     5530.490471     6665.039509
min       1654.456946     1874.298931     2011.159549     1823.015995
25%       4031.408271     4756.763836     4258.503604     4140.442097
50%       5305.445256     6281.290855     6434.501797     6360.943444
75%       6809.406690     7674.929108     8997.897412     7807.095818
max      21806.035940    24072.632130    25009.559140    29884.350410

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count       25.000000       25.000000       25.000000       25.000000
mean      8044.934406     8889.300863     9287.677107    11003.031625
std       7047.089191     7874.225145     8895.817785     9713.209302
min       1456.309517     1341.726931     1270.364932     1201.637154
25%       4439.450840     4684.313807     4858.347495     5728.353514
50%       6618.743050     7113.692252     6994.774861     8948.102923
75%       8137.004775     9767.297530     8797.640716    11977.574960
max      32003.932240    35767.433030    39097.099550    42951.653090

* Use index_col() to specify cols values should be used as row headings
* df.info()
* df.columns()
* df.T
* df.describe()

## Pandas DataFrames

In [58]:
import pandas as pd
data = pd.read_csv('Plotting Tutorial/gapminder_gdp_europe.csv', 
                   index_col='country')
# df.iloc[] selects by position
print(data.iloc[0, 0])

data = pd.read_csv('Plotting Tutorial/gapminder_gdp_europe.csv', \
                   index_col='country')
# df.loc[] selects by values
print(data.loc["Albania", "gdpPercap_1952"])

1601.056136
1601.056136

In [59]:
# Examples of Slicing
print(data.loc["Albania", :])  # all GDP in Albania

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [60]:
print(data.loc[:, "gdpPercap_1952"])  # 1952 GDP for all countries
# An alternative: print(data["gdpPercap_1952"])

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

In [64]:
# Slice multiple rows
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max())

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993
gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [65]:
# Use Comparisons to select data based on value (meeting certain threshold)
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
print('Subset of data:\n', subset)

# Which values were greater than 10000 ?
print('\nWhere are values large?\n', subset > 10000)

Subset of data:
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

Where are values large?
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [69]:
# Select values or NaN using Boolean mask
mask = subset > 10000
print(subset[mask])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [70]:
# Can also mask WITHIN a slice
print(subset[subset > 10000].describe())

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737547    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513523    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

## Group By: split --> apply --> combine

In [71]:
# Example using slicing to get countries with other half of GDP
mask_higher = data > data.mean()  # all data greater than the mean
wealth_score = mask_higher.aggregate('sum', axis=1) / len(data.columns)
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

In [74]:
data.groupby(wealth_score).mean()  # wealth_score is new index

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,3076.404517,3842.576566,4737.505453,5943.737399,7380.778908,8704.946536,9462.814042,9970.799951,7698.337271,8647.744800,9882.577489,12464.779827
0.333333,4197.511720,5235.614200,6436.233830,8391.916917,11319.459994,13465.114187,14919.908505,16109.228240,16979.523305,20219.012895,25521.698802,30700.932380
0.500000,5903.772203,7252.500075,9190.224735,10710.923100,12688.863690,14528.072685,15957.356025,17758.839110,18155.333040,20361.769350,22782.154195,25701.514105
1.000000,8693.106463,10611.000728,12499.096183,14833.362503,17930.195262,20095.284394,21949.065163,24735.427601,26269.852998,28910.910514,32092.494934,35654.194452

In [77]:
# Using indxmin() and indmax() functions
data = pd.read_csv('Plotting Tutorial/gapminder_gdp_europe.csv', 
                   index_col='country')
print(data.idxmin())  # prints (index) with min GDP each year

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object

In [94]:
# Practice: GDP per capita for all countries in 1982
data["gdpPercap_1982"]

country
Albania                    3630.880722
Austria                   21597.083620
Belgium                   20979.845890
Bosnia and Herzegovina     4126.613157
Bulgaria                   8224.191647
Croatia                   13221.821840
Czech Republic            15377.228550
Denmark                   21688.040480
Finland                   18533.157610
France                    20293.897460
Germany                   22031.532740
Greece                    15268.420890
Hungary                   12545.990660
Iceland                   23269.607500
Ireland                   12618.321410
Italy                     16537.483500
Montenegro                11222.587620
Netherlands               21399.460460
Norway                    26298.635310
Poland                     8451.531004
Portugal                  11753.842910
Romania                    9605.314053
Serbia                    15181.092700
Slovak Republic           11348.545850
Slovenia                  17866.721750
Spain                     13926.169970
Sweden                    20667.381250
Switzerland               28397.715120
Turkey                     4241.356344
United Kingdom            18232.424520
Name: gdpPercap_1982, dtype: float64

In [95]:
# Practice: GDP per capita for Denmark for all years
data.loc['Denmark']

gdpPercap_1952     9692.385245
gdpPercap_1957    11099.659350
gdpPercap_1962    13583.313510
gdpPercap_1967    15937.211230
gdpPercap_1972    18866.207210
gdpPercap_1977    20422.901500
gdpPercap_1982    21688.040480
gdpPercap_1987    25116.175810
gdpPercap_1992    26406.739850
gdpPercap_1997    29804.345670
gdpPercap_2002    32166.500060
gdpPercap_2007    35278.418740
Name: Denmark, dtype: float64

In [96]:
# Use dir function to display all methods built into a data object
list = ['first', 'second', 'third']
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']